<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @candidate.first_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @candidate.middle_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @candidate.last_name %>
</p>

<p>
  <strong>Photo url:</strong>
  <%= @candidate.photo_url %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @candidate.bio %>
</p>

<p>
  <strong>Email:</strong>
  <%= @candidate.email %>
</p>

<p>
  <strong>Website:</strong>
  <%= @candidate.website %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @candidate.facebook %>
</p>

<p>
  <strong>Instagram:</strong>
  <%= @candidate.instagram %>
</p>

<%= link_to 'Edit', edit_candidate_path(@candidate) %> |
<%= link_to 'Back', candidates_path %>
