<%= form_with(model: medium, local: true) do |form| %>
  <% if medium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(medium.errors.count, "error") %> prohibited this medium from being saved:</h2>

      <ul>
      <% medium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :headline %>
    <%= form.text_field :headline, id: :medium_headline %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url, id: :medium_url %>
  </div>

  <div class="field">
    <%= form.label :candidate %>
    <%= form.text_field :candidate, id: :medium_candidate %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
