<p id="notice"><%= notice %></p>

<p>
  <strong>Headline:</strong>
  <%= @medium.headline %>
</p>

<p>
  <strong>Url:</strong>
  <%= @medium.url %>
</p>

<p>
  <strong>Candidate:</strong>
  <%= @medium.candidate %>
</p>

<%= link_to 'Edit', edit_medium_path(@medium) %> |
<%= link_to 'Back', media_path %>
